<div class="container">
  <div class="row">
    <div class="col-md-12">




      <% if params["action"] == 'index' %>

      <h1>All your lists!</h1>

      <h3>Your Lists</h3>
      <% else %>

      <h1>All your shared list!</h1>

      <h3>Shared Lists</h3>
      <% end %>

      <div id="lists">
        <ul>
          <% @lists.each do |l| %>
          <li>
            <a href="<%= user_list_path(current_user.id, l.id) %>"><%= l.title %></a>
          </li>
          <br>
          <% end %>
        </ul>
      </div>


    </div>
  </div>
</div>
