<h1>New List</h1>

<%= render '/layouts/list' %>

<div id="lists"><a href="#" onclick="showLists(); return false;">Get Repos</a></div>




<script id="lists-template" type="text/x-handlebars-template">
  {{#each this}}
    <p><a href="/users/{{user.id}}/lists/{{id}}">{{title}}</a></p>
  {{/each}}
</script>
