<h1>New List</h1>

<%= render '/layouts/list' %>

<div id="lists"></div>

<script type="text/javascript" charset="utf-8">
  $(function () {
    $.get("/lists.json", function(data) {
      var lists = data
      if (lists.length > 0) {
        lists.forEach(function(list, index){
          $("#lists")[0].innerHTML += `<p><a href='/users/${list.user.id}/lists/${list.id}'>${list.title}</a></p>`
        })
      }
    })
  })
</script>
