<h1>Your roommates</h1>

<p><%= link_to 'Add more roommates', users_path %></p>

<ul>
<% @users.each do |u| %>
  Name: <%= u.name %>
  <br>
  Email: <%= u.email %>
  <br>
  <%= link_to "Remove Roommate", roommate_path(u), method: :delete %>
  <br></br>
<% end %>
</ul>