<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to Roommate Assistant</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>The purpose of this application is to assist you and your roommates with the tool of organization. Putting together in an organized place, things that need to be bought and done around the house and sharing it with your roommates so you can all be up to date. Chores can be assigned and grocery lists can be made and shared with your roommates.</p>

      <p>If you're a new user, sign up, or an existing user, sign in. Links up at the top.</p>
    </div>
  </div>






</div>
