<h1>Welcome to Roommate Assistant</h1>

<p>The purpose of this application is to assist you and your roommates with the tool of organization. Putting together in an organized place things that need to be bought and done around the house.</p>