<h1>All Users</h1>


<ul>
<% @users.each do |u| %>
  Name: <%= u.name %>
  <br>
  Email: <%= u.email %>
  <br>
  #link to add to your roommate
  <%= link_to "Add Roommate", '/roommates', method: :post%>
  # might just need to create a form.
  <br></br>
<% end %>
</ul>